/* CSS Document       */         
body
{

font-family: cambria; 
font-size:100%; 
display: inline-block; 
text-align: right;
margin-left:10px; 
margin-right:10px;
width: auto;
color:#004c93; 
line-height:20px; 
text-decoration:none;
}

a
{
text-decoration: none;
}



nav
{
background-color: white;
}
