/* CSS Document       */ 

body {
  text-align: justify;
}
  /* The side navigation menu */

.sidebar {
  margin: 0;
  padding: 0;
  background-color: white;
  height: 100%;
  position: relative;
  text-align: center;
  float: none;
}

.sidebar a {
  display: inline-block;
  color: black;
  padding: 14px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #155799;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #159957;
  color: white;
}

div.content {
  margin-left: 0px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
